<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdjERYKdT9FiYgCPIw4aK_gDS_2-2VWmA</string>
	<key>GCM_SENDER_ID</key>
	<string>1013568067759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campuseats</string>
	<key>PROJECT_ID</key>
	<string>campuseats-73325</string>
	<key>STORAGE_BUCKET</key>
	<string>campuseats-73325.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013568067759:ios:5691660d2ff4b1a439dc5a</string>
</dict>
</plist>